<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="data.exchange.center.service.listener.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/ListenerMapper.xml"/>
        <mapper resource="mybatis/mapper/DeleteBusinessDataMapper.xml"/>
        <mapper resource="mybatis/mapper/FtpMapper.xml"/>
        <mapper resource="mybatis/mapper/RtfMapper.xml"/>
        <mapper resource="mybatis/mapper/HandlerMapper.xml"/>
    </mappers>
</configuration>