<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.exchange.center.service.pcaj.mapper.PcajMapper">
	<!-- 配置二级缓存刷新时间为24小时一次 -->
	<cache flushInterval="864000000"/>
	<resultMap id="ajlxMeta" type="data.exchange.center.service.pcaj.domain.AjlxMeta">
		<result column="n_id"        property="nId"        javaType="int"           jdbcType="INTEGER" />
		<result column="c_ajlx"      property="cAjlx"      javaType="string"        jdbcType="VARCHAR" />
		<result column="c_name"      property="cName"      javaType="string"        jdbcType="VARCHAR" />
		<result column="c_eprefix"   property="cEprefix"   javaType="string"        jdbcType="VARCHAR" />
		<result column="c_ajlb"      property="cAjlb"      javaType="string"        jdbcType="VARCHAR" />
		
		<result column="c_fb"        property="cFb"        javaType="string"        jdbcType="VARCHAR" />
		<result column="c_stat"      property="cStat"      javaType="string"        jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="tableMeta" type="data.exchange.center.service.pcaj.domain.TableMeta">
		<result column="c_tableid"   property="cTableid"   javaType="string"        jdbcType="VARCHAR" />
		<result column="c_treeid"    property="cTreeid"    javaType="string"        jdbcType="VARCHAR" />
		<result column="c_nodeid"    property="cNodeid"    javaType="string"        jdbcType="VARCHAR" />
		<result column="c_etbname"   property="cEtbname"   javaType="string"        jdbcType="VARCHAR" />
		<result column="c_ctbname"   property="cCtbname"   javaType="string"        jdbcType="VARCHAR" />
		
		<result column="c_desc"      property="cDesc"      javaType="string"        jdbcType="VARCHAR" />
		<result column="c_ajlxcode"  property="cAjlxcode"  javaType="string"        jdbcType="VARCHAR" />
		<result column="c_userid"    property="cUserid"    javaType="string"        jdbcType="VARCHAR" />
		<result column="d_create"    property="dCreate"    javaType="java.sql.Date" jdbcType="TIMESTAMP" />
		<result column="d_update"    property="dUpdate"    javaType="java.sql.Date" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="colMeta" type="data.exchange.center.service.pcaj.domain.ColMeta">
		<result column="c_etbname"   property="cEtbname"   javaType="string"        jdbcType="VARCHAR" />
		<result column="c_ctbname"   property="cCtbname"   javaType="string"        jdbcType="VARCHAR" />
		<result column="c_tableid"   property="cTableid"   javaType="string"        jdbcType="VARCHAR" />
		<result column="n_sn"        property="nSn"        javaType="int"           jdbcType="INTEGER" />
		<result column="c_ecolname"  property="cEcolname"  javaType="string"        jdbcType="VARCHAR" />
		
		<result column="c_ccolname"  property="cCcolname"  javaType="string"        jdbcType="VARCHAR" />
		<result column="c_datatype"  property="cDatatype"  javaType="string"        jdbcType="VARCHAR" />
		<result column="n_datalen"   property="nDatalen"   javaType="int"           jdbcType="INTEGER" />
		<result column="n_precision" property="nPrecision" javaType="int"           jdbcType="INTEGER" />
		<result column="c_desc"      property="cDesc"      javaType="string"        jdbcType="VARCHAR" />
		
		<result column="c_codeid"    property="cCodeid"    javaType="string"        jdbcType="VARCHAR" />
		<result column="c_notnull"   property="cNotnull"   javaType="string"        jdbcType="VARCHAR" />
		<result column="c_pucol"     property="cPucol"     javaType="string"        jdbcType="VARCHAR" />
		<result column="c_userid"    property="cUserid"    javaType="string"        jdbcType="VARCHAR" />
		<result column="d_create"    property="dCreate"    javaType="java.sql.Date" jdbcType="TIMESTAMP" />
		
		<result column="d_update"    property="dUpdate"   javaType="java.sql.Date" 	jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="getAjlxMeta" parameterType="String" resultMap="ajlxMeta">
		SELECT N_ID, C_AJLX, C_NAME, C_EPREFIX, C_AJLB, C_FB, C_STAT 
		  FROM DCADM.DC_AJLXLIST
		 WHERE C_NAME = #{ajlxChName}
	</select>
	<select id="getTableMeta" parameterType="String" resultMap="tableMeta">
		SELECT C_TABLEID, C_TREEID, C_NODEID, C_ETBNAME,
               C_CTBNAME, C_DESC, C_AJLXCODE, C_USERID, D_CREATE, D_UPDATE
    	  FROM DCADM.DC_META_TREETABLE
         WHERE C_AJLXCODE = (SELECT C_AJLX 
                               FROM DCADM.DC_AJLXLIST
                              WHERE C_NAME = #{ajlxChName})
           AND (C_TREEID = 0 OR C_TREEID = 1) 
 		UNION                              
 		SELECT C_TABLEID, C_TREEID, C_NODEID, C_ETBNAME,
               C_CTBNAME, C_DESC, C_AJLXCODE, C_USERID, D_CREATE, D_UPDATE
    	  FROM DCADM.DC_META_TREETABLE
         WHERE C_ETBNAME = 'YASTML_YASTML'
           AND (C_TREEID = 0 OR C_TREEID = 1) 
	</select>
	<select id="getColMeta" parameterType="String" resultMap="colMeta">
		SELECT T1.C_ETBNAME, T1.C_CTBNAME,
		       T2.C_TABLEID, T2.N_SN, T2.C_ECOLNAME, T2.C_CCOLNAME, T2.C_DATATYPE, 
		       T2.N_DATALEN, T2.N_PRECISION, T2.C_DESC, T2.C_CODEID, T2.C_NOTNULL,
		       T2.C_PUCOL, T2.C_USERID, T2.D_CREATE, T2.D_UPDATE
  	      FROM DCADM.DC_META_TREETABLE T1, 
  	           DCADM.DC_META_TABCOL    T2
         WHERE T1.C_AJLXCODE = (SELECT C_AJLX 
                                  FROM DCADM.DC_AJLXLIST
                                 WHERE C_NAME = #{ajlxChName})
           AND T2.C_TABLEID=T1.C_TABLEID
           AND (T1.C_TREEID = 0 OR T1.C_TREEID = 1) 
 	 	UNION 
		SELECT T1.C_ETBNAME, T1.C_CTBNAME,
               T2.C_TABLEID, T2.N_SN, T2.C_ECOLNAME, T2.C_CCOLNAME, T2.C_DATATYPE, 
               T2.N_DATALEN, T2.N_PRECISION, T2.C_DESC, T2.C_CODEID, T2.C_NOTNULL,
               T2.C_PUCOL, T2.C_USERID, T2.D_CREATE, T2.D_UPDATE
          FROM DCADM.DC_META_TREETABLE T1, 
               DCADM.DC_META_TABCOL    T2
         WHERE T1.C_ETBNAME = 'YASTML_YASTML'
           AND T2.C_TABLEID=T1.C_TABLEID
           AND (T1.C_TREEID = 0 OR T1.C_TREEID = 1) 
	</select>
	<delete id="deleteTableRecord" parameterType="String">
		${deleteSql}	
	</delete>
	<insert id="saveCase" parameterType="java.util.Map">
		${params.insertSql}
	</insert>
	<insert id="insertTable_uf_eaj" parameterType="java.util.Map">
		INSERT INTO BUF_EAJ
			(AJBS, AJLX, DEPTCODE, REGDATE, LASTUPDATE, CONTENTUPD, 
			 AH, AJJZJD, LARQ, JARQ, LAAY, CBSPTBS, CBSPT, CBR, SRCCODE, UPDATETIME)
		values(
			#{map.AJBS,       jdbcType=VARCHAR},
			#{map.AJLX,       jdbcType=VARCHAR},
			#{map.DEPTCODE,   jdbcType=VARCHAR},
			#{map.REGDATE,    jdbcType=TIMESTAMP},
			#{map.LASTUPDATE, jdbcType=TIMESTAMP},
			#{map.CONTENTUPD, jdbcType=TIMESTAMP},
			#{map.AH,         jdbcType=VARCHAR},
			#{map.AJJZJD,     jdbcType=VARCHAR},
			#{map.LARQ,       jdbcType=TIMESTAMP},
			#{map.JARQ,       jdbcType=TIMESTAMP},
			#{map.LAAY,       jdbcType=INTEGER},
			#{map.CBSPTBS,    jdbcType=INTEGER},
			#{map.CBSPT,      jdbcType=VARCHAR},
			#{map.CBR,        jdbcType=INTEGER},
			#{map.SRCCODE,    jdbcType=VARCHAR},
			sysdate
		)
	</insert>
</mapper>