<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.exchange.center.service.listener.mapper.RtfMapper">
	<resultMap id="outMapMsg" type="data.exchange.center.service.listener.domain.Msg" >
		<result column="ajbs"        property="ajbs"    javaType="string"        jdbcType="VARCHAR" />
		<result column="fydm"        property="fydm"    javaType="string"        jdbcType="VARCHAR" />
		<result column="ajlx"        property="ajlx"    javaType="string"        jdbcType="VARCHAR" />
	</resultMap>
	<select id="getRtfToDocAjbs" resultMap="outMapMsg">
    	SELECT DISTINCT AJBS, AJLX_CODE AJLX, DEPT_CODE  FYDM
    	  FROM DCADM.DC_FJGH_FILEREC 
    	 WHERE INSTR(FILE_NAME,'.rtf')>0 
    	   AND ZYDEPT_CODE = '5109'
	</select>
</mapper>