<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="data.exchange.center.service.factor.trial.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/LaxxMapper.xml"/>
        <mapper resource="mybatis/mapper/MsSahlxxxMapper.xml"/>
        <mapper resource="mybatis/mapper/AjxxAllMapper.xml"/>
    </mappers>
</configuration>