<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}"/>
    <title>案件跟踪</title>

</head>

<body class="hold-transition skin-blue sidebar-mini ">
    <section class="content-header">
    <h1>
        <span>案件跟踪查询</span>
    </h1>
	</section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
							 <div class="dataTables_filter" id="searchDiv" style="float:right;width:70%">
                      			<div class="btn-group" style="float:right">
									<button type="button" onclick="sybData()" class="btn btn-warning" data-btn-type="search">查询</button>
								</div>
								<input class="form-control" placeholder="请输入查询的案件标识"  name="ajbs" id="ajbs" type="search" likeOption="true"></input>						
							</div>
                            <table id="dataTable" class="table table-bordered table-striped" >
                                <thead>
                                <tr>				
									<th>服务名称</th>
									<th>主机名</th>
									<th>IP</th>
									<th>时间</th>
									<th>级别</th>
									<th>类名</th>
									<th>方法名</th>
									<th>日志内容</th>
									
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${list}">
                                    <td th:text="${item.systemName}"></td>
                                    <td th:text="${item.hostName}"></td>
									<td th:text="${item.ip}"></td>
									<td th:text="${item.time}"></td>
									<td th:text="${item.level}"></td>
									<td th:text="${item.className}"></td>
									<td th:text="${item.methodName}"></td>
									<td th:text="${item.message}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>

        </section>
<script>
	
	function sybData(){
			var table=$('#dataTable').DataTable();
			table.destroy();
			var ajbs= $("#ajbs").val()=="" ? null:$("#ajbs").val();
			table=$('#dataTable').DataTable({
			       "paging": true,
		            "destroy":true,
		            "searching": false,
		            "ordering": true,
		            "info": true,
		            "autoWidth": false,
					"scrollX": true,
				"ajax":{
					url:"/casetrack/getCaseTrack",
					type : "GET",  
					data:{ajbs:ajbs}
				},  
				"columns"	: [
        	        { "data": "systemName" },
        	        { "data": "hostName" },             
        	        { "data": "ip" },             
        	        { "data": "time" },            
        	        { "data": "level" },
        	        { "data": "className" },
        	        { "data": "methodName" },
        	        { "data": "message" }
        	     ],'language': {
        	            'emptyTable': '没有数据',    
        	            'loadingRecords': '加载中...',    
        	            'processing': '查询中...',    
        	            'search': '搜索:',    
        	            'lengthMenu': '每页 _MENU_ 条记录',    
        	            'zeroRecords': '没有数据',    
        	            'paginate': {      
        	                    'next':       '下一页',    
        	                    'previous':   '上一页'    
        	                    },    
        	            'info': '第 _PAGE_ 页 / 共 _PAGES_ 页',    
        	            'infoEmpty': '没有数据',    
        	            'infoFiltered': '(从 _MAX_ 条记录中筛选)'    
        	        } 
			});
	}

    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "destroy":true,
            //"lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
			"scrollX": true,
			'language': {    
	            'emptyTable': '没有数据',    
	            'loadingRecords': '加载中...',    
	            'processing': '查询中...',    
	            'search': '搜索:',    
	            'lengthMenu': '每页 _MENU_ 条记录',    
	            'zeroRecords': '没有数据',    
	            'paginate': {      
	                    'next':       '下一页',    
	                    'previous':   '上一页'    
	                    },    
	            'info': '第 _PAGE_ 页 / 共 _PAGES_ 页',    
	            'infoEmpty': '没有数据',    
	            'infoFiltered': '(从 _MAX_ 条记录中筛选)'    
	        }  
        });
    });
</script>
</body>
</html>