<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}"/>
	<link rel="stylesheet" th:href="@{/plugins/zTree_v3-master/css/demo.css}" type="text/css}"/>
	<link rel="stylesheet" th:href="@{/plugins/zTree_v3-master/css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/plugins/zTree_v3-master/css/zTreeStyle/zTreeStyle.css}" type="text/css"/>
	<link rel="stylesheet" th:href="@{/plugins/common/libs/fileinput/css/fileinput.min.css}" type="text/css"/>
    							
    	<style type="text/css">
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
	</style>
	<style> 
		.divcss5-a,.divcss5-b{ width:150px; height:100px; float:left; border:1px solid #F00} 
		.divcss5-b{ margin-left:10px;overflow-y:scroll; overflow-x:scroll;} 
		/* css注释说明：设置第二个盒子与第一个盒子间距为10px，并设置了横纵滚动条样式 */ 
	</style> 
</head>
<body class="hold-transition skin-blue sidebar-mini ">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><li class="fa fa-remove"></li></button>
	<h5 class="modal-title">新增用户</h5>
</div>

<div class="modal-body">

	<form id="user-form" name="user-form" class="form-horizontal">

		<div class="box-body" style="height:500px">
			<div class="col-md-6">
			<input type="hidden" name="treeNode">
                            <div class="zTreeDemoBackground" >
                      
                            		 <div id="menuContent" class="menuContent" style="margin-left:10px;overflow-y:scroll; overflow-x:scroll; height:500px;width:400px;">
									        <ul id="baseTree2" class="ztree" style="margin-top: 0; width: 110px;">
									        </ul>
									</div>
							</div>
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer text-right">
			<!--以下两种方式提交验证,根据所需选择-->
			<button type="button" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal">取消</button>
			<button type="submit" class="btn btn-default" data-btn-type="cancel" data-dismiss="modal" onclick="onCheck()">提交</button>
		</div>
		<!-- /.box-footer -->
	</form>

</div>
<div th:replace="script"></div>
	<script type="text/javascript" th:src="@{/plugins/zTree_v3-master/js/jquery.ztree.core.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/zTree_v3-master/js/jquery.ztree.excheck.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/zTree_v3-master/js/jquery.ztree.exedit.js}"></script>
	<script type="text/javascript" th:src="@{/thymeleaf/regappclassify/metadata.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/iCheck/icheck.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/common/libs/fileinput/js/fileinput.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/common/libs/fileinput/js/locales/zh.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/common/libs/fileinput/js/locales/zh.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/common/js/base-modal.js}"></script>
<script>
function showMenu() {
	var cityObj = $("#citySel");
	var cityOffset = $("#citySel").offset();
	$("#menuContent").css({}).slideDown("fast");
};

// 隐藏树
function hideMenu() {
	$("body").unbind("mousedown", onBodyDown);
};
function onBodyDown(event) {
	if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(
			event.target).parents("#menuContent").length > 0)) {
		hideMenu();
	}
};
var setting = {
	
	edit : {
		enable : true,
		editNameSelectAll : true,
		showRemoveBtn : showRemoveBtn,
		showRenameBtn : showRenameBtn
	},

	check : {
		enable : true
	},
	callback : {
		beforeDrag : beforeDrag,
		beforeEditName : beforeEditName,
		beforeRemove : beforeRemove,
		beforeRename : beforeRename,
		onRemove : onRemove,
		onRename : onRename
	},
	data : {
		simpleData : {
			enable : true
		}
	},
	simpleData : {
		enable : false,
		idKey : "id",
		pidKey : "pId",
		rootPid : null
	}
};

var zNodes = [];

var code;

function setCheck() {
	var zTree = $.fn.zTree.getZTreeObj("baseTree2"), py = $("#py").attr(
			"checked") ? "p" : "", sy = $("#sy").attr("checked") ? "s" : "", pn = $(
			"#pn").attr("checked") ? "p" : "", sn = $("#sn").attr("checked") ? "s"
			: "", type = {
		"Y" : "ps",
		"N" : "ps"
	};
	zTree.setting.check.chkboxType = type;
	showCode('setting.check.chkboxType = { "Y" :  "ps", "N" : "ps"};');
};

function AutoMatch(txtObj) {
	if (txtObj.value.length > 0) {
		$.fn.zTree.init($("#baseTree2"), setting, zNodes);
		var zTree = $.fn.zTree.getZTreeObj("baseTree2");
		var nodeList = zTree.getNodesByParamFuzzy("name", txtObj.value);
		// 将找到的nodelist节点更新至Ztree内
		$.fn.zTree.init($("#baseTree2"), setting, nodeList);
		showMenu();
	} else {
		// 隐藏树
		hideMenu();
		$.fn.zTree.init($("#baseTree2"), setting, zNodes);
	}
}
function findSelect() {
	var treeObj = $.fn.zTree.getZTreeObj("baseTree2");
	var nodes = treeObj.getSelectedNodes();
	for (var i = 0; i < nodes.length; i++) {
		var nodeId = nodes[i].id;
		var nodeName = nodes[i].name;
		alert("树节点编码：" + nodeId + "\n" + "树节点名称：" + nodeName);
	}
};
function showCode(str) {
	if (!code)
		code = $("#code");
	code.empty();
	code.append("<li>" + str + "</li>");
};

function getTree() {

	/*
	 * var zNodes =[ { id:1, pId:0, name:"父节点 1", open:true}, { id:11, pId:1,
	 * name:"叶子节点 1-1"}, { id:12, pId:1, name:"叶子节点 1-2"}, { id:13, pId:1,
	 * name:"叶子节点 1-3"}, { id:2, pId:0, name:"父节点 2", open:true}, { id:21,
	 * pId:2, name:"叶子节点 2-1"}, { id:22, pId:2, name:"叶子节点 2-2"}, { id:23,
	 * pId:2, name:"叶子节点 2-3"}, { id:3, pId:0, name:"父节点 3", open:true}, {
	 * id:31, pId:3, name:"叶子节点 3-1"}, { id:32, pId:3, name:"叶子节点 3-2"}, {
	 * id:33, pId:3, name:"叶子节点 3-3"} ];
	 */
	var arr = [];
	$.ajax({
		type : "get",
		async : false, // 同步执行
		url : "/regappclassify/getMetadata/0",
		data : [],
		dataType : "json", // 返回数据形式为json
		success : function(result) {
			if (result) {
				zNodes = result;
			}
		},
	})
};
var log, className = "dark";
function beforeDrag(treeId, treeNodes) {
	return false;
}
function beforeEditName(treeId, treeNode) {
	className = (className === "dark" ? "" : "dark");
	showLog("[ " + getTime() + " beforeEditName ]&nbsp;&nbsp;&nbsp;&nbsp; "
			+ treeNode.name);
	var zTree = $.fn.zTree.getZTreeObj("baseTree2");
	zTree.selectNode(treeNode);
	setTimeout(function() {
		if (confirm("进入节点 -- " + treeNode.name + " 的编辑状态吗？")) {
			setTimeout(function() {
				zTree.editName(treeNode);
			}, 0);
		}
	}, 0);
	return false;
}
function beforeRemove(treeId, treeNode) {
	className = (className === "dark" ? "" : "dark");
	showLog("[ " + getTime() + " beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; "
			+ treeNode.name);
	var zTree = $.fn.zTree.getZTreeObj("baseTree2");
	zTree.selectNode(treeNode);
	var a = confirm("确认删除 节点 -- " + treeNode.name + " 吗？")
	return a;
}
function onRemove(e, treeId, treeNode) {
	showLog("[ " + getTime() + " onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; "
			+ treeNode.name);
}
function beforeRename(treeId, treeNode, newName, isCancel) {
	className = (className === "dark" ? "" : "dark");
	showLog((isCancel ? "<span style='color:red'>" : "") + "[ " + getTime()
			+ " beforeRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name
			+ (isCancel ? "</span>" : ""));
	if (newName.length == 0) {
		setTimeout(function() {
			var zTree = $.fn.zTree.getZTreeObj("baseTree2");
			zTree.cancelEditName();
			alert("节点名称不能为空.");
		}, 0);
		return false;
	}
	return true;
}
function onRename(e, treeId, treeNode, isCancel) {
	showLog((isCancel ? "<span style='color:red'>" : "") + "[ " + getTime()
			+ " onRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name
			+ (isCancel ? "</span>" : ""));
}
function showRemoveBtn(treeId, treeNode) {

	return false;
	// return !treeNode.isFirstNode;
}
function showRenameBtn(treeId, treeNode) {
	return false;
	// return !treeNode.isLastNode;
}
function showLog(str) {
	if (!log)
		log = $("#log");
	log.append("<li class='" + className + "'>" + str + "</li>");
	if (log.children("li").length > 8) {
		log.get(0).removeChild(log.children("li")[0]);
	}
}
function getTime() {
	var now = new Date(), h = now.getHours(), m = now.getMinutes(), s = now
			.getSeconds(), ms = now.getMilliseconds();
	return (h + ":" + m + ":" + s + " " + ms);
}
var userTable;
var winId = "userWin";
var newCount = 1;
function addHoverDom(treeId, treeNode) {
	var sObj = $("#" + treeNode.tId + "_span");
	if (treeNode.editNameFlag || $("#addBtn_" + treeNode.tId).length > 0)
		return;
	var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
			+ "' title='add node' onfocus='this.blur();'></span>";
	sObj.after(addStr);
	var btn = $("#addBtn_" + treeNode.tId);
	if (btn)
		btn.bind("click", function() {
			var zTree = $.fn.zTree.getZTreeObj("baseTree2");
			zTree.addNodes(treeNode, {
				id : (100 + newCount),
				pId : treeNode.id,
				name : "new node" + (newCount++)
			});
			return false;
		});
};
function removeHoverDom(treeId, treeNode) {
	$("#addBtn_" + treeNode.tId).unbind().remove();
};
function selectAll() {
	var zTree = $.fn.zTree.getZTreeObj("baseTree2");
	zTree.setting.edit.editNameSelectAll = $("#selectAll").attr("checked");
}

$(document).ready(function() {
	$.fn.zTree.init($("#baseTree2"), setting, zNodes);
	$("#selectAll").bind("click", selectAll);
});
$(document).ready(function() {
	getTree()
	$.fn.zTree.init($("#baseTree2"), setting, zNodes);
	setCheck();
	$("#py").bind("change", setCheck);
	$("#sy").bind("change", setCheck);
	$("#pn").bind("change", setCheck);
	$("#sn").bind("change", setCheck);
});
function onCheck(e,treeId,treeNode){
    var treeObj=$.fn.zTree.getZTreeObj("baseTree2"),
    nodes=treeObj.getCheckedNodes(true),
    v="";
   addHoverDoms(nodes);
   /*   for(var i=0;i<nodes.length;i++){
    v+=nodes[i].name + ",";
    alert(nodes[i].name+"...."+nodes[i].pId); //获取选中节点的值
    } */} 
</script>
</body>
</html>